.*.sw*

*.ipynb

*.pth
*.model
*.pt
*.npy

*.pyc

*.mp4
*.y4m
*.yuv
*.zip
*.tar

*.pdf

*DS_Store

!/error_concealment_interface/libs/
!/error_concealment_interface/libs/**/
!/error_concealment_interface/libs/**/*.pth
.nfs*