.*.sw*
*.ipynb

*.pth
*.model
*.pt
*.npy

*.pyc

*.mp4
*.y4m


*DS_Store

!/error_concealment_interface/libs/
!/error_concealment_interface/libs/**/
!/error_concealment_interface/libs/**/*.pth

models/
videos/
